<p>
  <strong>My List Title:</strong>
 <p> <%= @list.title %></p>

<h2>Items:</h2>
<% @list.items.each do |i| %>
  <p>
    <%= i.item %>
  </p>
<% end %>



<h2>Add an Item</h2>
<%= render "item/form" %>


 <p><%= link_to 'Back', list_path %>
     | <%= link_to 'Edit', edit_list_path(@list) %>

</p>



